<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>All Fruits!</title>
</head>

<body>
<div class="all-fruits">
  {{#fruits}}
    <p>{{name}}</p>
    <img src="{{avatar}}">
  {{/fruits}}
</div>

</body>

</html>
